.overlay {
    top: 0;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgb(25, 30, 30);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}

.overlay img {
    width: 20px;
    margin: 20px  7px;
}

.overlayContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 15%;
    padding-left: 30px;
    width: 100%;
}

.hr {
    width: 85%;
    opacity: 40%;
    margin-right: 20%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.isDropdown {
    display: flex;
    justify-content: space-between;
    margin-right: 17%;
}

.isDropdown img {
    margin: 10px 0 0 0;
    justify-self: flex-end;
    width: 40px;
    height: 40px;
}

.dropContent {
    display: none;

}

.dropContent a {
    transition: 0.3s;
    color: #8a9b95;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.overlay .closebtn {
    color: #ffffff;
    position: absolute;
    right: 15px;
    font-weight: lighter;
    font-size: 40px;
}